

/* layout */
body.yoopage { background: #E4DED1; }
div.header-2 { 
	background-image: url(../../images/styles/beige/header_bg.png);
	background-color: #FFFEFB;
}
#menubar,
div.menubar-1,
div.menubar-2 { background-image: url(../../images/styles/beige/menubar_bg.png); }

div.mainmiddle-wrapper-t1,
div.mainmiddle-wrapper-t2,
div.mainmiddle-wrapper-t3,
div.mainmiddle-wrapper-b1,
div.mainmiddle-wrapper-b2,
div.mainmiddle-wrapper-b3 { background-image: url(../../images/styles/beige/wrapper_corners.png); }

/* typography */
h2,
h4,
h6,
a { color: #DA446A; }
ul.links li { background-image: url(../../images/styles/beige/typography/list_links.png); }
ul.links li:hover { background-color: #A09B92; }

/* menus */
#menu li.level1,
#menu a.level1,
#menu span.level1,
#menu a.level1 span.bg,
#menu span.level1 span.bg { background-image: url(../../images/styles/beige/menu_level1_item.png); }
#menu .dropdown-3 { background: #F7F7F4; }
#menu li.level2 a:hover span.bg,
#menu li.level2 .current span.bg,
#menu a.level3.current span.bg,
#menu li.level3 a.level3:hover span.bg { color: #DA446A; }
#menu .dropdown-b1,
#menu .dropdown-b2,
#menu .dropdown-b3 { background-image: url(../../images/styles/beige/menu_dropdown_corners.png); }
#menu a.level3 span.bg,
#menu span.level3 span.bg { background-image: url(../../images/styles/beige/menu_level3_item.png); }
div.mod-box ul.menu a.current span.bg,
div.mod-box ul.menu a:hover span.bg,
div.mod-box ul.menu span:hover span.bg { color: #DA446A; }
div.mod-box ul.menu li.parent .level1 span.bg { background-image: url(../../images/styles/beige/submenu_level1_item_parent.png); }
div.mod-box ul.menu li.level2 span.bg {	background-image: url(../../images/styles/beige/submenu_level2_item.png); }

/* modules */
.module h3.header span.subtitle { color: #DA446A; }

div.mod-box div.box-t1,
div.mod-box div.box-t2,
div.mod-box div.box-t3,
div.mod-box div.box-b1,
div.mod-box div.box-b2,
div.mod-box div.box-b3,
div.mod-box-header h3.header,
div.mod-box-header span.header-2,
div.mod-box-header span.header-3 { background-image: url(../../images/styles/beige/module_box_corners.png); }

div.mod-box-grey div.box-t1,
div.mod-box-grey div.box-t2,
div.mod-box-grey div.box-t3,
div.mod-box-grey div.box-b1,
div.mod-box-grey div.box-b2,
div.mod-box-grey div.box-b3,
div.mod-box-grey.mod-box-header h3.header,
div.mod-box-grey.mod-box-header span.header-2,
div.mod-box-grey.mod-box-header span.header-3 { background-image: url(../../images/styles/beige/module_box_grey_corners.png); }
div.mod-box-grey div.box-2 { 
	background-image: url(../../images/styles/beige/module_box_grey_bg.png);
	background-color: #F7F7F4;
}

div.mod-box-templatecolor div.box-t1,
div.mod-box-templatecolor div.box-t2,
div.mod-box-templatecolor div.box-t3,
div.mod-box-templatecolor div.box-b1,
div.mod-box-templatecolor div.box-b2,
div.mod-box-templatecolor div.box-b3,
div.mod-box-templatecolor.mod-box-header h3.header,
div.mod-box-templatecolor.mod-box-header span.header-2,
div.mod-box-templatecolor.mod-box-header span.header-3 { background-image: url(../../images/styles/beige/module_box_templatecolor_corners.png); }
div.mod-box-templatecolor div.box-1 { background-color: #767168; }
div.mod-box-templatecolor div.box-2 {
	color: #F2F3F4;
	background-image: url(../../images/styles/beige/module_box_templatecolor_bg.png);
	background-color: #ABA79E;
}
div.mod-box-templatecolor a,
div.mod-box-templatecolor em.box,
div.mod-box-templatecolor ul.line > li > a { color: #4A4740; }
div.mod-box-templatecolor ul.line > li { border-color: #635F56;}

div.mod-box-templatecolor2 div.box-t1,
div.mod-box-templatecolor2 div.box-t2,
div.mod-box-templatecolor2 div.box-t3,
div.mod-box-templatecolor2 div.box-b1,
div.mod-box-templatecolor2 div.box-b2,
div.mod-box-templatecolor2 div.box-b3,
div.mod-box-templatecolor2.mod-box-header h3.header,
div.mod-box-templatecolor2.mod-box-header span.header-2,
div.mod-box-templatecolor2.mod-box-header span.header-3 { background-image: url(../../images/styles/beige/module_box_templatecolor2_corners.png); }

div.mod-box-templatecolor2 div.box-1 { background-color: #BC254B; }
div.mod-box-templatecolor2 div.box-2 { 
	color: #F2F3F4;
	background-image: url(../../images/styles/beige/module_box_templatecolor2_bg.png);
	background-color: #E05C7D;
}
div.mod-box-templatecolor2 a,
div.mod-box-templatecolor2 em.box,
div.mod-box-templatecolor2 ul.line > li > a { color: #6C1E32; }

/* system */
#system .item > .links a,
a.readmore {
	border-color: #A32948;
	background: #E05C7D;
	background: -moz-linear-gradient(
					50% 0%,
					#E05C7D 0%,
					#D93760 100%
				);
				
	background: -webkit-gradient( 
					linear,
					50% 0%,
					50% 100%,
					color-stop(0%, #E05C7D),
					color-stop(100%, #D93760)
				);
}
#system .item > .links a:hover,
#page a.readmore:hover {
	border-color: #8C1B37;
	background: #D93760;
	background: -moz-linear-gradient(
					50% 0%,
					#BB244A 0%,
					#D93760 100%
				);
				
	background: -webkit-gradient( 
					linear,
					50% 0%,
					50% 100%,
					color-stop(0%, #8C1B37),
					color-stop(100%, #BB244A)
				);
}
#system .item > .links a:active,
#page a.readmore:active {
	background: -moz-linear-gradient(
					50% 0%,
					#8C1B37 0%,
					#BB244A 100%
				);
				
	background: -webkit-gradient( 
					linear,
					50% 0%,
					50% 100%,
					color-stop(0%, #8E2C10),
					color-stop(100%, #CC2A13)
				);
}

#searchbox .results li.results-header,
#searchbox .results li.more-results {
	border-color: #646057;
	background: #908A7F;
	background: -moz-linear-gradient(
					50% 0%,
					#908A7F 0%,
					#7E786D 100%
				);
				
	background: -webkit-gradient( 
					linear,
					50% 0%,
					50% 100%,
					color-stop(0%, #908A7F),
					color-stop(100%, #7E786D)
				);
}
#searchbox .results li.result { background-color: #F7F7F4; }
#searchbox .results li.result.selected h3,
#system .pagination strong { color: #DA446A; }

/* custom */
#page #logo a.logo-icon { background-image: url(../../../../images/yootheme/logo_beige.png); }
#page .demoteaser { background-image: url(../../../../images/yootheme/home_teaser_gift.png); }
#page .demoteaser .buttons a { background-image: url(../../../../images/yootheme/home_teaser_button_beige.png); }

#footer,
#footer .menu li a,
#bottom div.single div.yoo-tweet p.text { text-shadow: 0 1px 0 rgba(255,255,255,0.5); }
